[Desktop Entry]
Version=0.9.11
Exec=/usr/bin/python /usr/local/lib/peyote/mescaline.py %F
Name=Play in Peyote
Comment=An audio player
Name[ru]=Играть в Пейоте
Comment[ru]=Аудио плеер
Icon=peyote
Terminal=false
Type=Application
X-KDE-StartupNotify=false
NoDisplay=true
Categories=AudioVideo;Player;Audio;
MimeType=application/ogg;application/x-extension-m4a;application/x-extension-mp4;application/x-flac;application/x-ogg;audio/3gpp;audio/ac3;audio/basic;audio/mp4;audio/mpegurl;audio/ogg;audio/x-aiff;audio/x-ape;audio/x-flac;audio/x-m4a;audio/x-mp3;audio/x-mpeg;audio/x-mpegurl;audio/x-ms-asf;audio/x-ms-asx;audio/x-ms-wax;audio/x-ms-wma;audio/x-musepack;audio/x-pn-wav;audio/x-wav;audio/x-wavpack;audio/x-vorbis;audio/x-vorbis+ogg;inode/directory;application/xspf+xml;
