[Desktop Entry]
Version=0.9.11
Exec=/usr/local/bin/xpeyote
Name=Peyote
Comment=An audio player
Name[ru]=Peyote
Comment[ru]=Аудио плеер
Icon=peyote
Terminal=false
Type=Application
Categories=AudioVideo;Player;
